
<h1>{{ searchTerm }}</h1>
<br>

<!-- Loading -->
<div ng-hide="language != null && definitions != null" class="text-center">
    <i class="fa fa-spinner fa-spin"></i>
</div>

<!-- Definitions -->
<div ng-show="language != null && definitions != null">
    <div class="center pad-bottom">
        Is a word in <em><a href="#/{{ language.code }}">{{ language.name }}</a></em> that translates to:
    </div>
    <br>

    <div class="definitions">
        <div ng-repeat="def in definitions" class="definition">
            <span ng-hide="def.uniqueId === definitions[0].uniqueId" class="or">or</span>

            <h3>
                <span class="edit-res">
                    <a href="javascript:;" class="fa fa-pencil"></a>
                </span>

                &ldquo; {{ def.translation.practical.eng }} &rdquo;
            </h3>

            {{ def.translation.meaning.eng }}

            <span ng-show="def.translation.meaning.eng.length">
                {{ 'Alternatively: ' + def.translation.meaning.eng }}
            </span>
        </div>
    </div>
</div>
