
<h1>Sign in</h1>

<div class="text-center">
    <a href="" class="fa fa-lg fa-twitter-square"></a>
    <a href="" class="fa fa-lg fa-facebook-square"></a>
    <a href="" class="fa fa-lg fa-google-plus-square"></a>
    <a href="" class="fa fa-lg fa-reddit-square"></a>
</div>

<br>
<div class="text-center">~ or ~</div>

<form class="form edit" name="login" method="post" action="">
    <input type="hidden" name="" value="">

	<!-- Email -->
	<div class="row">
		<input type="email" name="email" placeholder="your email" required autofocus>
	</div>

	<!-- Password -->
	<div class="row">
		<input type="password" name="password" placeholder="your password" required>
	</div>

	<!-- Submit -->
	<div class="row text-center">
		<input type="submit" value="sign in">
	</div>

</form>
