
<!-- Title -->
<div class="title">
    Di Nkɔmɔ<br>
    <small>The Book of Native Tongues.</small>
</div>

<!-- Search form -->
<section class="form search">

	<form ng-sbumit="lookup()" name="search">
		<div class="wrapper">
			<input class="remove-btn-style" name="clear" type="button" value="&#10005;">
			<input ng-model="searchTerm" name="q" type="text" placeholder="start here" autocomplete="off">
			<input class="remove-btn-style" type="submit" value="&#10163;">
			<div class="clr"></div>
		</div>
	</form>

</section>

<!-- Search results -->
<div ng-hide="results.length > 0" class="row">
    <div class="col-sm-12 col-md-6 col-md-offset-3 text-center">
        Use this <em>&#10548;</em> to lookup {{ searchTerm || 'words' }} in another language.
    </div>
</div>
<div ng-show="results.length > 0" ng-repeat="result in results" class="row">
    <div class="col-sm-12 col-md-6 col-md-offset-3">
        {{ result }}
    </div>
</div>
