
<!-- Title -->
<div class="title">
    Di Nkɔmɔ<br>
    <small>The Book of Native Tongues.</small>
</div>

<!-- Search form -->
<section class="form search">

	<form ng-submit="testLookup()" name="search">
		<div class="wrapper">
			<input class="remove-btn-style" name="clear" type="button" value="&#10005;">
			<input ng-model="searchTerm" name="q" type="text" placeholder="start here" autocomplete="off">
			<input class="remove-btn-style" type="submit" value="&#10163;">
			<div class="clr"></div>
		</div>
	</form>

</section>

<!-- Search results -->
<div ng-hide="results.length > 0" class="row">
    <div class="col-sm-12 col-md-6 col-md-offset-3 text-center">
        Use this <em>&#10548;</em> to lookup {{ searchTerm || 'words' }} in another language.
    </div>
</div>
<div ng-show="results.length > 0" id="results">
    <div class="row">
        <div class="col-sm-12 text-center">
            we found <em>{{ results.length }}</em> definitions for <i>{{ searchTerm }}</i>.
        </div>
    </div>
    <ol>
        <li ng-repeat="def in results">
            <a href="#">{{ def.title }}</a> <small>({{ def.sub_type }})</small>
            is a {{ def.type }} that means <i>{{ def.translation.practical.eng }}</i>
            in <a href="#">{{ def.main_language.name }}</a>
        </li>
    </ol>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-md-offset-3 text-center">
            {{ result }}
        </div>
    </div>
</div>
