
aside {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 5;
}

aside a, aside a:visited {
    color: #aaa;
}
aside a:after {
    background-color: #aaa;
}
aside a.fa {
    margin: 10px 0;
}
aside a.fa:hover {
    color: #333;
}

@media only screen and (min-width: 768px) {

    aside {
        top: 20px;
        left: 20px;
    }
}

@media only screen and (min-width: 992px) {
    aside {
        top: 50px;
        left: 15%;
    }

    aside a.fa {
    	margin: 0 10px;
    }
}
