
<ul class="fa-ul">

    <!-- Menu button -->
    <li class="fa-li hidden-sm hidden-md hidden-lg">
        <a ng-click="toggleNav()" class="fa fa-bars"></a>
    </li>

    <!-- Main dictionary page -->
    <li class="fa-li hidden-xs">
        <a href="#/dict" class="fa fa-search"></a>
    </li>

    <!-- About -->
    <li class="fa-li hidden-xs">
        <a href="#/about" class="fa fa-info"></a>
    </li>

    <!-- Feedback -->
    <!-- <li class="fa-li hidden-xs">
        <a href="javascript:;" class="fa fa-commenting-o"></a>
    </li> -->

    <!-- Settings -->
    <!-- <li class="fa-li hidden-xs">
        <a href="#/config" class="fa fa-cogs"></a>
    </li> -->

    <!-- Github -->
    <li class="fa-li hidden-xs">
        <a href="https://github.com/frnkly/dinkomo-angular-app" target="_blank" class="fa fa-github"></a>
    </li>
</ul>
