
<ul class="fa-ul">

    <!-- Main dictionary page -->
    <li class="fa-li">
        <a href="#/dict" class="fa fa-search"></a>
    </li>

    <!-- Find a language -->
    <li class="fa-li">
        <a href="javascript:;" class="fa fa-globe"></a>
    </li>

    <!-- About -->
    <li class="fa-li">
        <a href="#/about" class="fa fa-info"></a>
    </li>

    <!-- Feedback -->
    <li class="fa-li">
        <a href="javascript:;" class="fa fa-commenting-o"></a>
    </li>

    <!-- Github -->
    <li class="fa-li">
        <a href="https://github.com/frnkly/dinkomo-angular-app" target="_blank" class="fa fa-github"></a>
    </li>
</ul>
