
<h1>
    Add a word <span ng-show="language">in <br><em>{{ language.name }}</em></span>
    <br>

    <small>
        <a href="#/dict" class="meta">
            &rarr; or select another language
        </a>
    </small>
</h1>
<br>

<!-- New word form -->
<form ng-show="language" ng-submit="saveDefinition()" class="form edit form-inline text-center">

    <div class="line">
        <input ng-model="definitionForm.title" type="text" placeholder="your word" autofocus required> is a
        <select ng-model="definitionForm.subType" required>
            <option ng-selected="definitionForm.subType == 'adj'" value="adj">adjective</option>
            <option ng-selected="definitionForm.subType == 'adv'" value="adv">adverb</option>
            <option ng-selected="definitionForm.subType == 'conn'" value="conn">connective</option>
            <option ng-selected="definitionForm.subType == 'ex'" value="ex">exclamation</option>
            <option ng-selected="definitionForm.subType == 'pre'" value="pre">preposition</option>
            <option ng-selected="definitionForm.subType == 'pro'" value="pro">pronoun</option>
            <option ng-selected="definitionForm.subType == 'n'" value="n">noun</option>
            <option ng-selected="definitionForm.subType == 'v'" value="v">verb</option>
        </select>
    </div>

    <div class="line">
        in <em>{{ language.name }}</em> that means
    </div>

    <div class="line">
        <input ng-model="definitionForm.translations.eng.practical" type="text" placeholder="your translation" required>
    </div>

    <div class="line">
        <input type="submit" value="save">
    </div>
</form>

<!-- Loading -->
<div ng-show="language === null" class="text-center">
    <i class="fa fa-spinner fa-spin"></i>
</div>

<!-- Language not found -->
<div ng-show="language === false">
    404
</div>
